<div class="container mt-3">
  <div class="user-card d-flex align-items-end border-bottom pb-3">
<div class="user-avatar">
   <% if @user.photo.attached? %>
    <%= image_tag @user.photo, class: "rounded-circle img-fluid mb-3", alt: "User Picture" %>
  <% else %>
    <%= image_tag("user_def.png", class: "rounded-circle img-fluid mb-3", alt: "User Picture") %>
  <% end %>
</div>
<div class="user-info">
  <div>
    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
  </div>
  <div>
    <p class="card-text"><i class="fa-solid fa-envelope" style="color: #2b2330;"></i>   <%= @user.email %></p>
    <p class="card-text"><i class="fa-solid fa-location-dot fa-lg" style="color: #2b2330;"></i>   <%= @user.address %></p>
  </div>
  </div>
  <div>
    <div class="d-flex justify-content-center">
  <div class="buttoms d-flex flex-column justify-content-between ">
                <div data-controller="toggle" class="mb-3 ml-5 profile-edit-container">
                <button data-action="click->toggle#fire" class="btn btn-secondary-color mx-2 my-2 my-sm-0">Edit Profile</button>
              <div data-toggle-target="togglableElement" class="d-none mx-5 my-5" class="form">
                      <%= form_with(model: @user, local: true, multipart: true, remote: true) do |form| %>
                        <div class="field my-2">
                          <%= form.label :first_name %>
                          <%= form.text_field :first_name, class: 'form-field' %>
                        </div>

                          <div class="field my-2">
                          <%= form.label :last_name %>
                          <%= form.text_field :last_name, class: 'form-field' %>
                        </div>

                        <div class="field my-2">
                          <%= form.label :address %>
                          <%= form.text_field :address, class: 'form-field' %>
                        </div>

                          <div class="form-group row my-2">
                            <%= form.label :photo %>
                            <div class="col-sm-8">
                              <%= form.file_field :photo, class: 'form-field' %>
                            </div>
                          </div>
                        <div class="actions">
                          <%= form.submit "Update profile", class: "form-field btn btn-secondary-color my-3 my-sm-0", data: { disable_with: "Uploading..." } %>
                        </div>
                      <% end %>
                        </div>
                      </div>
      <div class="mb-3">
    <%= link_to 'Add your product', new_product_path, class:'btn btn-secondary-color mx-2 my-2 my-sm-0' %>
    </div>

  </div>
    </div>
    </div>
  </div>

  <h3 class="my-4 mx-5">Your listed items:</h3>
        <div class="product-list mr-5">
<% @items.each do |item| %>
  <%= link_to product_path(item) do %>
    <div class="card-product shadow-sm p-3 bg-white rounded">
      <% if item.photo.attached? %>
        <%= image_tag item.photo, class: 'product-image rounded-top' %>
      <% end %>
      <div class="card-text d-flex flex-column align-items-end">
        <strong><%= item.name %></strong>
        <%=item.price%>€
        <p>
          <% if item.status %>
            Bought
          <% else %>
            Available
          <% end %>
        </p>
<%= form_with url: delete_product_path(item), method: :delete, local: true, class: 'd-inline' do %>
  <%= submit_tag 'Delete', class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this product?' } %>
<% end %>
      </div>
    </div>
  <% end %>
<% end %>
        </div>
      </div>
