<div class="container mt-3">
  <div class="user-card d-flex align-items-end pb-3">
<div class="user-avatar">
   <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill %>
</div>
<div class="user-info">
  <div>
    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
  </div>
  <div>
    <p class="card-text"><i class="fa-solid fa-envelope" style="color: #2b2330;"></i>   <%= @user.email %></p>
    <p class="card-text"><i class="fa-solid fa-location-dot fa-lg" style="color: #2b2330;"></i>   <%= @user.address %></p>
  </div>
  </div>
  <div class="form">
          <%= form_with(model: @user, local: true, multipart: true, remote: true) do |form| %>
            <div class="field m-3 string required name">
              <div class="form-group row mb-4">
                <%= form.label :photo, class: 'col-sm-4 col-form-label' %>
                <div class="col-sm-8">
                  <%= form.file_field :photo, class: 'form-control-file' %>
                </div>
              </div>
            </div>
            <div class="actions m-3 mt-5">
              <%= form.submit "Upload Photo", class: "btn btn-primary", data: { disable_with: "Uploading..." } %>
            </div>
          <% end %>
          </div>
    </div>
  <div class="buttoms border-bottom d-flex pb-3">
    <a href="#" class="btn btn-secondary-color mx-2 my-2 my-sm-0">Edit Profile</a>
    <%= link_to 'Add your product', new_product_path, class:'btn btn-secondary-color mx-2 my-2 my-sm-0' %>
  </div>

  <h3 class="mt-3">Your listed items:</h3>
        <div class="product-list mr-5">
            <% @items.each do |item| %>
            <%= link_to product_path(item) do %>
               <div class="card-product shadow-sm p-3 bg-white rounded">
                      <% if item.photo.attached? %>
                          <%= image_tag item.photo, class: 'product-image rounded-top' %>
                        <% end %>
                          <div class="card-text d-flex flex-column align-items-end">
                            <strong><%= item.name %></strong>
                            <%=item.price%>€
                            <p>
                              <% if item.status %>
                                Bought
                              <% else %>
                                Available
                              <% end %>
                            </p>
                          </div>
                  </div>
                <% end %>
          <% end %>
        </div>
      </div>
