<h1>Welcome to our store!</h1>

<p>
  <%= link_to 'Search Products', products_path, class: 'search-bttn' %>
</p>

<div class="product-list">
  <% @products.each do |product| %>
    <div class="product-home-card">
      <%= link_to product.name, product_path(product) %> - <%= number_to_currency(product.price) %>
      <% if product.image.attached? %>
      <%= image_tag product.image, class: 'product-image' %>
    <% end %>
      <br>
    </div>
  <% end %>
</div>
<<<<<<< HEAD

<%# <p>
  <%= link_to 'Add a New Product', new_product_path >
</p> %>
=======
<br>
<p>
  Want to sell something? <%= link_to 'Add your product', new_product_path, class: 'gray-oval-button' %>
</p>
>>>>>>> master
