<h1 class="home-title">Welcome to Thriftique!</h1>
<div class="product-list mr-5">
  <% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <div class="card-product shadow-sm p-3 bg-white rounded">
      <% if product.photo.attached? %>
        <%= image_tag product.photo, class: 'product-image rounded-top' %>
      <% end %>
      <div class="card-text d-flex flex-column align-items-end">
      <strong><%= product.name %></strong>
      <%=product.price%>€
      </div>
    </div>
  <% end %>
  <% end %>
</div>
<br>
<p>
  Want to sell something? <%= link_to 'Add your product', new_product_path, class:'btn btn-outline-secondary-color mx-2 my-2 my-sm-0' %>
</p>
<br>
<br>
