<main class="u-flex-grow">
  <div class="container">

    <!-- Orders -->
    <div class="checkout-container">
      <h2>Order</h2>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <%= image_tag @product.photo, class: 'product-image rounded-top' if @product.photo.attached? %>
          <p><%= @product.name %></p>
        </div>
        <p class=""><%= @product.price %>€</p>
      </div>
    </div>

    <!-- Address -->
    <div class="checkout-container">
      <h2 class="">Address</h2>
      <div class="d-flex justify-content-between">
        <p class=""><%= @user.address %></p>
        <h5><i class="fa-solid fa-pencil clickable-image"></i></h5>
      </div>
    </div>

    <!-- Email address -->
    <div class="checkout-container">
      <h2>Contact details</h2>
      <div class="d-flex justify-content-between">
        <p><%= @user.email %></p>
        <h5><i class="fa-solid fa-pencil clickable-image"></i></h5>
      </div>
    </div>

    <!-- Delivery & Map -->
    <div class="checkout-container">
      <h2>Delivery details</h2>
      <div class="d-flex justify-content-between">
      </div>
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-address-marker-value="<%= @address_marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <!-- Payment -->
    <div class="checkout-container">
      <h2>Payment</h2>
      <div class="d-flex justify-content-end  text-center">
        <div class="m-2 p-2">
          <p>iDeal</p>
          <i src="app/assets/images/ideal-logo.webp"></i>
          <%= image_tag "ideal-logo.webp", class: 'clickable-image', size: '70x70'%>
        </div>
        <div class="m-2 p-2">
          <p>Paypal</p>
          <i src="app/assets/images/ideal-logo.webp"></i>
          <%= image_tag "paypal_2014_logo.png", class: 'clickable-image', size: '70x70'%>
        </div>
        <div class="m-2 p-2">
          <p>Visa</p>
          <i src="app/assets/images/visa.jpg"></i>
          <%= image_tag "visa.jpg", class: 'clickable-image', size: '100x80'%>
        </div>
        <div class="m-2 p-2">
          <p>Amex</p>
          <i src="app/assets/images/american_express_logo.png"></i>
          <%= image_tag "american_express_logo.png", class: 'clickable-image', size: '70x70'%>
        </div>
      </div>
    </div>

    <!-- Order details -->
    <div class="checkout-container">
      <h2>Order details</h2>
      <p>Calendar</p>
      <div id="calendar"></div>

    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        flatpickr("#calendar", {

          dateFormat: "d-m-Y",
          inline: true
        });
      });
    </script>
  </div>
</main>
