<!-- app/views/products/show.html.erb -->
<div class="row">
  <div class="col-md-6">
    <h1><%= @product.name %></h1>
    <p><%= @product.description %></p>
    <%= image_tag @product.photo, class: "product-image rounded" if @product.photo.attached? %>
  </div>
  <div class="col-md-6">
    <div class="card rounded bg-white " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= number_to_currency(@product.price) %></h5>
        <hr>
        <p>Brand: <%= @product.brand%></p>
        <p>Condition: <%=@product.condition%></p>
        <p>Location: <%=@product.location%></p>
        <p>Listed by: <%= @product.user.first_name %> <%= @product.user.last_name %></p>
        <div class="d-grid gap-2" role="group" aria-label="Product Actions">
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-8">
    <!-- Add any additional content here if needed -->
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-8">
    <%= link_to 'Back', products_path, class: "btn btn-secondary btn-block my-2" %>
  </div>
</div>
