<!-- app/views/products/show.html.erb -->
  <div class="row mr-5">
    <div class="text-center">
    <h1 class="mt-4 mb-5"><%= @product.name %></h1>
    </div>
    <div class="col-7 text-center">
    <%= image_tag @product.photo, class: "product-image rounded" if @product.photo.attached? %>
    </div>
  <div class="card rounded bg-white col-4" style="width: 20rem;">
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="card-info">
        <h5 class="card-title"><%=@product.price %> € </h5>
        <hr>
        <!-- Form submit -->
        <p><strong>Description</strong>:  <i><%= @product.description %></i></p>
        <p><strong>Brand:  </strong> <i><%= @product.brand%></i></p>
        <p><strong>Condition:  </strong><i><%=@product.condition%></i></p>
        <p><strong>Size:  </strong> <%=@product.size%></i></p>
        <p><strong>Listed by:  </strong> <i><%= @product.user.email %></i></p>
        </div>
          <%= simple_form_for([@product, @transaction]) do |form| %>

        <div class="d-grid gap-2 mb-3" role="group" aria-label="Product Actions">
<% if @product.user == current_user %>
  <%= form.submit "Buy Now", class: "btn btn-primary", disabled: true, style: "opacity: 0.5;" %>
<% else %>
  <%= form.submit "Buy Now", class: "btn btn-primary" %>
<% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<div class="row mt-3">
  <div class="col-md-8">
    <!-- Add any additional content here if needed -->
  </div>
</div>
