<!DOCTYPE html>
<html>
  <head>
    <title>Thriftique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/navbar" %>
      <div class="container mt-3">
        <%= render "shared/flashes" %>
        <p class="notice"><%= notice %></p>
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
